# Visual Studio Code
.vscode
*.code-workspace

# Virtual Environment
.venv/

# Environment Variables
.env

#ini
*.ini

# Notebooks
notebooks/

# Tests
tests/
rtest.py
prawtest.py
src/services/testingData/

#debug
debug.py

#Databases
*.sqlite3
*.sqlite
*.db

#Temp
temp.txt
temp.py
temp.html

#pycache
*.pyc

#prompt
geminiprompt.txt