{% extends "base.html"%}
{% block title %} Home Page {% endblock %}
{% block content %}
    <h1>Canucks Ticket Exchange</h1>
    
    {% if redditData.success %}
        <h3>Total comments: {{ redditData.commentCount }}</h3>
        
        <div class="comments">
            {% for comment in redditData.comments %}
                <div class="comment">
                    <p><strong>{{ comment.author }}</strong> - {{ comment.created }}</p>
                    <p>{{ comment.body }}</p>
                    <a href="{{ comment.permalink }}" target="_blank">View on Reddit</a>
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Error loading Reddit data: {{ redditData.error }}</p>
    {% endif %}
{% endblock %}